@charset "UTF-8";
/* The body tag style applies to all elements on the page */ 
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: block;
    background: #323a45;
    color: #f6f7f9;
}
header {
    background-color: #778899;
    border-radius: 20px;
    margin: 10px;
    padding: 0;
    width: auto;
}
/* overflow:hidden is added to the ul element to prevent li elements from going outside of the list */
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 70px;
    overflow: hidden;
}
header img {
    display: block;
    float: left;
    padding: 10px;
    width: 50px;
    height: 50px;
}
header ul li {
    position: relative;
    top: 0px;
}
header a{
    display: block;
    color: #f6f7f9;
    float: left;
    height: 50px;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: 15px;
}
header li a:hover{
    background-color: #5faeb6;
    height: 50px;
}
.active{
    background-color: #5faeb6;
    height: 50px;
}
header img {
    height: 50px;
    width: 50px;
}
#wrapper {
    background-color: #3f6184;
    border-radius: 20px;
    width: 960px;
    height: 800px; 
    margin-left: auto; 
    margin-right: auto;
    padding: 20px;
    
}
#wrapper a img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
/* Puts content below all left and right floating elements, used for footer separation */
#footer {
    height:80px;
}
#footer img {
    height: 50px;
    width: 50px;
}
#top, #bottom, h3, h1 {
    text-align: center;
}
#top img{
    display: block;
    margin-left: auto;
}
#left {
    float: left;
    width: 480px;
    height: 800px;
}
#left img {
    margin: auto;
}
#right {
    float: right;
    width: 480px;
    height: 800px;
}
video {
    width: 400px;
    padding: 15px;
    margin-right: 15px;
    background-color: black;
    border: 2px #f6f7f9 solid;
    box-shadow: 10px 10px 5px black;
}
button {
    background-color :black;
    color: #f6f7f9;
    height: 40px;
    border: 2px #f6f7f9 solid;
    box-shadow: 10px 10px 5px black;
    border-radius: 5px;
}
.clear{
    clear: both;
}
