@charset "UTF-8"; 
body {
  background: #323a45;
  color: #f6f7f9;
  font-family: 'Roboto', sans-serif;
  padding:0px;
  margin:0px;
}
h1,h2,h3,p,li {
  margin-left: 15px;
  margin-top: 0px;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 20px;
}
#wrapper {
  width: 100%;
}
#right-column {
  width: 100%;
  float: none;
  height: 1200px;
  background-color: #778899;
}
#left-column {
  float: none;
  height: 120px;
  width: 100%;
}
#footer {
  height: 80px;
  text-align: center;
  background-color: #323a45;
}
#banner{
  height: 100px;
  background-color: #323a45;
}
.box {
  width: 90%;
  min-height: 120px;
  background-color: #5faeb6;
  margin: 15px;
  opacity: 1;
}
.label {
  width: 90%;
  min-height: 120px;
  margin: 15px;
  opacity: 1;
}
.icon {
  display: block;
  height: 35px;
  width: 35px;
}
.button {
  font-size: x-large;
  text-decoration: none;
  background-color: LightBlue;
  display: block;
  width: 25%;
  float: left;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 3px gray;
}
.button:hover {
  box-shadow: 5px 5px 3px black;
}